/* ----------- Compiled using Sass/Compass ------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* - Reset --------------------------------------------- */
/* - http://meyerweb.com/eric/tools/css/reset ---------- */
/* - v2.0 | 20110126 License: none (public domain) ----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight: bold;
}

hr {
  display: none;
}

/* - Custom fonts -------------------------------------- */
@font-face {
  font-family: "OpenSansSemibold";
  src: url("/fonts/OpenSans-Semibold-webfont.eot");
  src: url("/fonts/OpenSans-Semibold-webfont.eot?iefix") format("embedded-opentype"), url("/fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("/fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("/fonts/OpenSans-Semibold-webfont.svg#webfontOpenSansSemibold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "KomikaTitle-PaintRegular";
  src: url("/fonts/KomikaTitle-Paint-webfont.eot");
  src: url("/fonts/KomikaTitle-Paint-webfont.eot?iefix") format("embedded-opentype"), url("/fonts/KomikaTitle-Paint-webfont.woff") format("woff"), url("/fonts/KomikaTitle-Paint-webfont.ttf") format("truetype"), url("/fonts/KomikaTitle-Paint-webfont.svg#webfontKomikaTitle-PaintRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}

/* - General styles ------------------------------------ */
body {
  background-color: #80c1d6;
  background-image: url(../images/body-bg-splat.png), url(../images/texture-blue.png);
  background-repeat: no-repeat, repeat;
  background-position: 60% top, 90%;
  caption-side: top;
  display: table;
  font: 100%/1em "OpenSansSemibold", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

/* - Main navigation ----------------------------------- */
body > nav {
  background-color: rgba(15, 40, 48, 0.1);
  margin: 1.7em auto 0 auto;
  text-align: center;
  width: 95%;
}
body > nav li {
  display: block;
}
body > nav a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
  text-transform: uppercase;
}
body > nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
}

/* - Page banner containing branding and tagline ------- */
[role="banner"] {
  background: transparent url(../images/branding-splat.png) no-repeat center -5.2em;
  margin: 0 0 2.2em 0;
  padding-top: 1.4em;
  text-align: center;
}
[role="banner"] h1 {
  background: transparent url(../images/branding.png) no-repeat center top;
  color: #fff;
  font: 4.2em/1.2em "KomikaTitle-PaintRegular", "Comic Sans MS", sans-serif;
  height: 221px;
  text-shadow: #fe6537 4px 4px 0;
  text-indent: -300em;
  width: 100%;
}
[role="banner"] h2 {
  color: #fe6537;
  font: 1.8em/1.1em "KomikaTitle-PaintRegular", "Comic Sans MS", sans-serif;
  letter-spacing: 0.05em;
  margin: 3.8em auto 0 auto;
  text-transform: uppercase;
  text-shadow: #f2f2f2 2px 2px 0;
  width: 95%;
}
[role="banner"] p {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 0.6em auto 0 auto;
  width: 95%;
}

/* - General page sections ----------------------------- */
section {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left: 0;
  border-right: 0;
}
section > div {
  margin: 0 auto;
  overflow: hidden;
  width: 95%;
}
section h1 {
  background-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #eef13f 25%, transparent 25%, transparent 75%, #eef13f 75%), -webkit-linear-gradient(45deg, #eef13f 25%, transparent 25%, transparent 75%, #eef13f 75%);
  background-size: 34px 34px;
  background-position: 0 0, 18px 18px;
  color: #fff;
  font: 2.4em/1em "KomikaTitle-PaintRegular", "Comic Sans MS", sans-serif;
  left: 10.5em;
  letter-spacing: 0.05em;
  margin: 1.2em 0 1em 0;
  position: relative;
  text-align: left;
  text-indent: -10.5em;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.15) 3px 4px 0;
}

/* - Obstacles section specifics ----------------------- */
#obstacles {
  background: #fe6638 url(../images/texture-orange.png) repeat 90%;
  color: #fff;
  font: 0.9em/1em "KomikaTitle-PaintRegular", "Comic Sans MS", sans-serif;
  text-align: center;
}
#obstacles h1 {
  left: 6.8em;
  text-indent: -6.8em;
}
#obstacles h3 {
  font-size: 2.2em;
  line-height: 1.4em;
}
#obstacles p {
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 0.3em 0 0.6em 0;
}
#obstacles h3, #obstacles p {
  text-shadow: rgba(0, 0, 0, 0.15) 3px 4px 0;
}
#obstacles li {
  display: none;
}
#obstacles li:target {
  display: block;
}
#obstacles img {
  max-width: 100%;
}
#obstacles nav {
  margin: 1.8em 0 1.2em 0;
  overflow: hidden;
}
#obstacles nav li {
  display: block;
  float: left;
  margin: 0.45em 0 0.45em 2.5%;
  width: 45%;
}
#obstacles a {
  background-color: #80b238;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#obstacles a:hover {
  background-color: #eef13f;
  color: #f46034;
}

/* - Prizes section specifics -------------------------- */
#prizes {
  background: #7eb036 url(../images/texture-green.png) repeat 90%;
  color: #fff;
  font: 1em/1em "KomikaTitle-PaintRegular", "Comic Sans MS", sans-serif;
  text-align: center;
}
#prizes h1 {
  font-size: 2.18em;
  left: 4.5em;
  text-indent: -4.5em;
}
#prizes ul {
  margin-bottom: 1.6em;
  overflow: hidden;
}
#prizes li {
  line-height: 1.6em;
  margin: 1em 0 2.4em 0;
}
#prizes img {
  display: block;
  margin-bottom: 0.8em;
  max-width: 100%;
  vertical-align: middle;
}

/* - Be a contestant section specifics ----------------- */
#be-a-contestant {
  border-bottom: 0;
}
#be-a-contestant h1 {
  font-size: 2.18em;
}

/* - Be a contestant form ------------------------------ */
label {
  display: block;
  height: 0.6em;
  visibility: hidden;
}

input[type="text"],
input[type="email"],
input[type="url"] {
  background-color: #fd5f34;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font: 1em/1em "KomikaTitle-PaintRegular", "Comic Sans MS", sans-serif;
  letter-spacing: 0.07em;
  padding: 0.8em 0.7em;
  width: 90%;
}

::-webkit-input-placeholder {
  color: #fff;
  padding-top: 0.3em;
}

::-moz-placeholder {
  color: #fff;
  padding-top: 0.3em;
}

input[type="submit"] {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 1.5em/1em "KomikaTitle-PaintRegular", "Comic Sans MS", sans-serif;
  letter-spacing: 0.07em;
  margin-top: 1em;
  padding: 1em 0.4em;
  text-shadow: rgba(0, 0, 0, 0.2) 4px 5px 0;
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* - Page-supporting content footer -------------------- */
[role="contentinfo"] {
  border-top: 6px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 0.9em;
  margin: 2em auto 0 auto;
  padding-top: 1.2em;
  text-align: center;
  width: 95%;
}
[role="contentinfo"] section {
  border: 0;
  margin: 0 auto;
  max-width: 620px;
}
[role="contentinfo"] section:after {
  clear: both;
  content: " ";
  display: block;
}
[role="contentinfo"] h2 {
  margin-top: -3em;
}
[role="contentinfo"] h2:before {
  background: transparent url(../images/knucklelodeon-logo.png) no-repeat center;
  content: " ";
  display: block;
  height: 85px;
  margin: 0 auto 1em auto;
  width: 134px;
}
[role="contentinfo"] h2, [role="contentinfo"] h3 {
  clear: both;
  font-size: 1.4em;
  line-height: 1em;
  margin-bottom: 0.4em;
}
[role="contentinfo"] h3 {
  padding-top: 1.8em;
}
[role="contentinfo"] p, [role="contentinfo"] ul {
  float: right;
  line-height: 1.4em;
  text-align: left;
  width: 48%;
}
[role="contentinfo"] h2 + p,
[role="contentinfo"] h3 + ul {
  float: left;
  text-align: right;
}
[role="contentinfo"] section + p {
  border-top: 6px solid rgba(0, 0, 0, 0.1);
  float: none;
  margin-top: 1.9em;
  padding: 1.4em 0 1.8em 0;
  text-align: center;
  width: auto;
}
