/* - Page banner containing branding and tagline ------- */
[role="banner"] {
	
	background: transparent url(../images/green-on-blue-splat.png) no-repeat center top;
	@include background-size(90%);
	margin: 5% auto 2.2em auto;
	padding-top: 18%;
	text-align: center;
	
	h1 {
		background: transparent url(../images/branding.png) no-repeat 56% top;
		@include background-size(55%);
		color: #fff;
		@include komikaPaint(4.2em, 1.2em);
		margin: 0 auto;
		max-width: 800px;
		padding-top: 35%;
		@include text-shadow(#fe6537, 4px, 4px, 0);
		text-indent: -300em;
		width: 100%;
	}
	
	h2 {
		color: #fe6537;
		@include komikaPaint(1.6em, 1.3em);
		letter-spacing: 0.05em;
		margin: 10% auto 0 auto;
		text-transform: uppercase;
		@include text-shadow(rgba(242, 242, 242, 1), 2px, 2px, 0);
		-moz-transition: font-size 0.2s ease;
		-webkit-transition: font-size 0.2s ease;
		-o-transition: font-size 0.2s ease;
		transition: font-size 0.2s ease;
	}
	
	p {
		color: #fff;
		font-size: 1em;
		line-height: 1.4em;
		margin: 0.6em auto 0 auto;
		width: 95%;
	}
	
	@media screen and (min-width: 528px) {
		@include background-size('auto');
		margin-bottom: 3.6em;
		padding-top: 6.3em;
		
		h1 {
			background-position: 53% top;
			@include background-size('auto');
			height: 221px;
			padding-top: 0;
		}
		
		h2 {
			font-size: 2.6em;
			margin-top: 3.1em;
		}
	}
	
	@media screen and (min-width: 960px) {
		margin-bottom: 4.7em;
		margin-top: 3.8em;
		
		h2 {
			font-size: 3.2em;
		}
		
		p {
			font-size: 1.4em;
		}
	}
}

.ie7, .ie8 {
	[role="banner"] {
		margin-bottom: 3.6em;
		margin-top: 3.8em;
		padding-top: 6.3em;


		h1 {
			background-position: 53% top;
			height: 221px;
			padding-top: 0;
		}

		h2 {
			font-size: 2.9em;
			margin-top: 3.1em;
		}

		p {
			font-size: 1.4em;
		}
	}
}