/* - Be a contestant section specifics ----------------- */
#be-a-contestant {
	border-bottom: 0;
}

/* - Be a contestant form ------------------------------ */

fieldset {
	margin: 0 auto;
	width: 95%;
}

label {
	display: block;
	height: 0.6em;
	visibility: hidden;
}

input[type="text"],
input[type="email"],
input[type="url"],
select {
	background: #fe6638 url(../images/texture-orange.png) repeat 90%;
	border: 0;
	-moz-box-shadow: none;
	box-shadow: none;
	@include border-radius(6px);
	color: #fff;
	@include komikaPaint(1em);
	letter-spacing: 0.07em;
	padding: 0.8em 0;
	text-indent: 0.7em;
	width: 100%;
	
	&:focus {
		// Do this later
	}
}

select {
	cursor: pointer;	
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
	line-height: 0.9em;
	padding: 0.8em 0.3em;
	text-indent: 0;
}

.custom-selects select {
	-webkit-appearance: none;
	background-image: url(../images/select-arrow.png), url(../images/texture-orange.png);
	background-repeat: no-repeat, repeat;
	background-position: right top, 90%;
	padding: 0.85em 0;
}

.font-face-selects select {
	@include komikaPaint(1em);
	line-height: 1.15em;
}

::-webkit-input-placeholder {
   	color: #fff;
	padding-top: 0.3em;
}

:-moz-placeholder {
	color: #fff;
}

input[type="submit"] {
	background: transparent url(../images/green-on-blue-splat.png) no-repeat center;
	@include background-size(60%);
	border: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	@include komikaPaint(1.5em);
	letter-spacing: 0.07em;
	margin: 0.2em auto 1.2em auto;
	padding: 2.6em 0;
	position: relative;
	text-align: center;
	@include text-shadow(rgba(0, 0, 0, 0.2), 4px, 5px, 0);
	@include transition-property(background-size -webkit-transform -moz-transform -o-transform transform);
	@include transition-duration(0.07s);
	@include transition-timing-function(ease);
	@include rotate(-5deg);
	width: 9.2em;
	
	&:hover, &:focus {
		@include background-size(72%);
		@include rotate(-1deg);
	}
}

@media screen and (min-width: 28em) {
	fieldset {
		width: 100%;
	}
}

@media screen and (min-width: 42em) {
	fieldset {
		float: left;
		width: 40.4255319%;
	}
}

@media screen and (min-width: 61em) {
	label[for="team-color"],
	label[for="gender"] {
		display: none;
	}
	
	select {
		display: inline-block;
	}
	
	#team-color {
		margin-top: 0.5em;
		width: 57.8947368%;
	}
	
	#gender {
		float: right;
		margin-top: 0.5em;
		width: 36.8421053%;
	}
	
	input[type="submit"] {
		font-size: 1.8em;
	}
}