/* - Be a contestant section specifics ----------------- */
#be-a-contestant {
	border-bottom: 0;
}

.ie6, .ie7, .ie8  {
	#be-a-contestant {
		border-top: 6px solid #63afcf;
	}
}

/* - Be a contestant form ------------------------------ */

fieldset {
	margin: 0 auto;
	@include transition-property(opacity);
	@include transition-duration(0.3s);
	width: 95%;
}

label {
	color: #fff;
	display: block;
	margin-top: 0.6em;
	padding: 0.2em 0 0.4em 0.4em;
}

.input-placeholders label,
.polyfilled-input-placeholders label {
	height: 0.6em;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

label[for="team-color"],
label[for="gender"] {
	height: 0.6em;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

input[type="text"],
input[type="email"],
input[type="url"],
select {
	background: #fe6638 url(../images/texture-orange.png) repeat 90%;
	border: 0;
	-moz-box-shadow: none;
	box-shadow: none;
	@include border-radius(6px);
	color: #fff;
	@include komikaPaint(1em);
	letter-spacing: 0.07em;
	padding: 0.8em 0;
	text-indent: 0.7em;
	width: 100%;
	
	&:focus {
		@include box-shadow(#fff, 0, 0, 5px);
		outline: none;
	}
}

select {
	cursor: pointer;	
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	line-height: 0.9em;
	padding: 0.8em 0.3em;
	text-indent: 0;
}

.custom-selects select {
	-webkit-appearance: none;
	background-image: url(../images/select-arrow.png), url(../images/texture-orange.png);
	background-repeat: no-repeat, repeat;
	background-position: right top, 90%;
	padding: 1em 0;
	text-indent: 0.7em;
}

.font-face-selects select {
	@include komikaPaint(1em);
	line-height: 1.15em;
}

::-webkit-input-placeholder {
   	color: #fff;
	padding-top: 0.3em;
}

:-moz-placeholder {
	color: #fff;
}

input[type="submit"] {
	background: transparent url(../images/green-on-blue-splat.png) no-repeat center;
	@include background-size(60%);
	border: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	@include komikaPaint(1.5em);
	letter-spacing: 0.07em;
	margin: 0.2em auto 1.2em auto;
	padding: 2.6em 0;
	position: relative;
	text-align: center;
	@include text-shadow(rgba(0, 0, 0, 0.2), 4px, 5px, 0);
	@include transition-property(background-size -webkit-transform -moz-transform -o-transform transform);
	@include transition-duration(0.07s);
	@include transition-timing-function(ease);
	@include rotate(-5deg);
	width: 9.2em;
	
	&:hover, &:focus {
		@include background-size(72%);
		outline: none;
		@include rotate(-1deg);
	}
}

.submitting {
	opacity: 0.5;
}

.submitted {
	label, input, select {
		display: none;
	}
}

@media screen and (min-width: 448px) {
	fieldset {
		width: 100%;
	}
}

@media screen and (min-width: 672px) {
	fieldset {
		float: left;
		width: 40.4255319%;
	}
}

@media screen and (min-width: 976px) {
	label[for="team-color"],
	label[for="gender"] {
		display: none;
	}
	
	select {
		display: inline-block;
	}
	
	#team-color {
		margin-top: 0.5em;
		width: 57.8947368%;
	}
	
	#gender {
		float: right;
		margin-top: 0.5em;
		width: 36.8421053%;
	}
	
	input[type="submit"] {
		font-size: 1.8em;
	}
}

.ie7, .ie8 {
	input[type="submit"] {
		border-bottom: 2px solid #5a9e26;
		margin: 0.4em 0 1.2em 0;
		padding: 0.5em 0.4em;
		width: 9.8em;

		&:hover, &:focus {
			background: #edf23f url(../images/texture-yellow.png) repeat 90%;
			color: #1f1f1f;
			outline: none;
		}
	}
}

.ie7 {	
	#team-color, #gender {
		margin-left: 0.6em;
		width: 97%;
	}
	
	input[type="submit"] {
		margin-left: 0.4em;
	}
}

.ie6 {
	#be-a-contestant {
		padding-bottom: 2em;
	}
	
	fieldset {
		width: 75%;
	}
	
	input, select {
		background: #fe6638 url(../images/texture-orange.png) repeat 90%;
		border: 0;
		color: #fff;
		@include komikaPaint(1em);
		letter-spacing: 0.07em;
		padding: 0.8em 0 0.4em 0;
		text-indent: 0.7em;
		width: 100%;
	}
	
	input.last-child {
		background: #edf23f url(../images/texture-green.png) repeat 90%;
		border-bottom: 2px solid #5a9e26;
		margin: 0.4em 0 1.2em 0.6em;
		padding: 0.5em 0;
		width: 100%;
	}
}