/* - Be a contestant section specifics ----------------- */
#be-a-contestant {
	border-bottom: 0;
	
	h1 {
		font-size: 2em;
	}
}

/* - Be a contestant form ------------------------------ */
label {
	display: block;
	height: 0;
	visibility: hidden;
}

input[type="text"],
input[type="email"],
input[type="url"] {
	background-color: #fd5f34;
	border: 0;
	@include border-radius(4px);
	color: #fff;
	@include komikaPaint(1em);
	letter-spacing: 0.07em;
	padding: 0.5em 0.7em;
	width: 90%;
	
	&:focus {
		// Do this later
	}
}

::-webkit-input-placeholder {
   	color: #fff;
	padding-top: 0.3em;
}

::-moz-placeholder {
	color: #fff;
	padding-top: 0.3em;
}