/* - Page-supporting content footer -------------------- */
[role="contentinfo"] {
	
	border-top: 6px solid rgba(0, 0, 0, 0.1);
	color: #fff;
	font-size: 0.9em;
	margin: 2em auto 0 auto;
	padding-top: 1.2em;
	text-align: center;
	width: 95%;
	
	h2, h3 {
		clear: both;
		font-size: 1.4em;
		line-height: 1em;
		margin-bottom: 0.4em;
	}
	
	h3 {
		padding-top: 2em;
	}
	
	p {
		float: right;
		line-height: 1.4em;
		text-align: left;
		width: 48%;
	}
	
	h2 + p {
		float: left;
		text-align: right;
	}
	
	p:last-child {
		border-top: 6px solid rgba(0, 0, 0, 0.1);
		float: none;
		margin-top: 1.6em;
		padding: 1.4em 0 1.8em 0;
		text-align: center;
		width: auto;
	}
}