/* - Page-supporting content footer -------------------- */
[role="contentinfo"] {
	
	border-top: 6px solid rgba(0, 0, 0, 0.1);
	color: #fff;
	font-size: 0.9em;
	margin: 5em auto 0 auto;
	padding: 1.2em 0;
	text-align: center;
	width: 95%;
	
	section {
		border: 0;
		@include openSansSemibold(1em);
		margin: 0 auto;
		max-width: 620px;
		
		&:after {
			clear: both;
			content: " ";
			display: block;
		}
	}
	
	h2 {
		
		margin-top: -3em;
		
		&:before {
			background: transparent url(../images/knucklelodeon-logo.png) no-repeat center;
			content: " ";
			display: block;
			height: 85px;
			margin: 0 auto 1em auto;
			width: 134px;
		}
	}
	
	h2, h3 {
		clear: both;
		font-size: 1.4em;
		line-height: 1em;
		margin-bottom: 0.4em;
	}
	
	h3 {
		padding-top: 1.8em;
	}
	
	p, ul {
		line-height: 1.4em;
		margin-bottom: 1em;
		text-align: center;
	}
	
 	section + p {
		background: transparent url(../images/creative-commons-logo.png) no-repeat center bottom;
		border-top: 6px solid rgba(0, 0, 0, 0.1);
		float: none;
		margin-top: 1.9em;
		padding: 1.4em 0 3.4em 0;
		text-align: center;
		width: auto;
	}
	
	@media screen and (min-width: 400px) {
		p, ul {
			float: right;
			margin-bottom: 0;
			text-align: left;
			width: 48%;
		}

		h2 + p,
		h3 + ul {
			float: left;
			text-align: right;
		}
	}
}

.ie7, .ie8 {
	[role="contentinfo"], section + p {
		border-top: 6px solid #63afc4;
	}
}

.ie7 [role="contentinfo"] {
	h2 {
		background: transparent url(../images/knucklelodeon-logo.png) no-repeat center top;
		margin-top: 0;
		padding-top: 5em;
	}
}