/* - Custom fonts -------------------------------------- */
$font-path: '/fonts' !default;

// http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
@mixin font-face ($name, $filename, $svgFontName) {
	@font-face {
		font-family: $name;
		src: url('#{$font-path}/#{$filename}.eot');
		src: url('#{$font-path}/#{$filename}.eot?iefix') format('embedded-opentype'), 
			 url('#{$font-path}/#{$filename}.woff') format('woff'), 
			 url('#{$font-path}/#{$filename}.ttf')	format('truetype'),
			 url('#{$font-path}/#{$filename}.svg#webfont#{$svgFontName}') format('svg');
		font-style: normal;
		font-weight: normal;
	}
}

@include font-face('OpenSansSemibold', 'OpenSans-Semibold-webfont', 'OpenSansSemibold');

@mixin openSansSemibold($font-size, $line-height: 1em) {
	font: #{$font-size}/#{$line-height} 'OpenSansSemibold', helvetica, arial , sans-serif;
}

@include font-face('KomikaTitle-PaintRegular', 'KomikaTitle-Paint-webfont', 'KomikaTitle-PaintRegular');

@mixin komikaPaint($font-size, $line-height: 1em) {
	font: #{$font-size}/#{$line-height} 'KomikaTitle-PaintRegular', 'Comic Sans MS', sans-serif;
}

@include font-face('KomikaTitle-WideRegular', 'KomikaTitle-Wide-webfont', 'KomikaTitleWideRegular');

@mixin komikaWide($font-size, $line-height: 1em) {
	font: #{$font-size}/#{$line-height} 'KomikaTitle-WideRegular', 'Comic Sans MS', sans-serif;
}