/* - Success ------------------------------------------- */

@-webkit-keyframes slime {
	0% {
		-webkit-background-size: 0%;
		opacity: 0.5;
	}
	
	100% {
		-webkit-background-size: 100%;
		opacity: 1;
	}
}

@-moz-keyframes slime {
	0% {
		-webkit-background-size: 0%;
		opacity: 0.5;
	}
	
	100% {
		-webkit-background-size: 100%;
		opacity: 1;
	}
}

.success {
	-webkit-animation-timing-function: ease;
	-webkit-animation: slime 0.1s 1;
	-moz-animation-timing-function: ease;
	-moz-animation: slime 0.1s 1;
	background: transparent url(../images/green-on-blue-splat.png) no-repeat center top;
	@include background-size(100%);
	color: #fff;
	line-height: 1.4em;
	margin: 0 auto;
	max-width: 30em;
	padding: 24% 0 35% 0;
	text-align: center;
	@include rotate(-5deg);
	width: 90%;
	z-index: 99;
	
	h3, p {
		@include text-shadow(rgba(0, 0, 0, 0.15), 3px, 4px, 0);
	}
	
	h3 {
		font-size: 2em;
		margin-bottom: 0.4em;
	}
	
	p {
		margin: 0 auto;
		width: 60%;
	}
	
	@media screen and (min-width: 448px) {
		padding: 25% 0 35% 0;
		
		h3 {
			font-size: 3em;
			margin-bottom: 0.8em;
		}
		
		p {
			font-size: 1.2em;
		}
	}
	
	@media screen and (min-width: 672px) {
		h3 {
			font-size: 2em;
			margin-bottom: 0.4em;
		}
		
		p {
			font-size: 1em;
		}
		
		width: 100%;
	}
	
	@media screen and (min-width: 800px) {
		padding-top: 28%;
		
		h3 {
			font-size: 3em;
			margin-bottom: 0.8em;
		}
		
		p {
			font-size: 1.2em;
		}
	}
}

.ie7, .ie8 {
	.success {
		background-image: none;

		p {
			width: 80%;
		}
	}
}