/* - General styles ------------------------------------ */
body {
	background: #80c1d6 url(../images/body-bg-splat.png) no-repeat center top;
	caption-side: top;
	display: table;
	@include openSansSemibold(100%);
	-webkit-font-smoothing: antialiased;
	width: 100%;
}