/* - General styles ------------------------------------ */
body {
	background-color: #80c1d6;
	background-image: url(../images/body-bg-splat.png), url(../images/texture-blue.png);
	background-repeat: no-repeat, repeat; 
	background-position: 60% top, 90%;
	caption-side: top;
	display: table;
	@include openSansSemibold(100%);
	-webkit-font-smoothing: antialiased;
	width: 100%;
}

::selection {
	background-color: #fe6638;
	color: #fff;
	text-shadow: none;
}