/* - General styles ------------------------------------ */
body {
	background: #80c1d6 url(../images/texture-blue.png) repeat 90%;
	caption-side: top;
	display: table;
	@include openSansSemibold(100%);
	-webkit-font-smoothing: antialiased;
	width: 100%;
	
	@media screen and (min-width: 528px) {
		background-image: url(../images/body-bg-splat.png), url(../images/texture-blue.png);
		background-repeat: no-repeat, repeat; 
		background-position: 60% top, 90%;
	}
}

.ie8 body {
	background-image: url(../images/texture-blue.png);
	min-width: 825px;
}

::selection {
	background-color: #fe6638;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background-color: #fe6638;
	color: #fff;
	text-shadow: none;
}