body > nav {
	
	background-color: rgba(15, 40, 48, 0.1);
	margin: 1.7em auto 0 auto;
	text-align: center;
	width: 95%;
	
	a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		color: #fff;
		display: block;
		padding: 0.5em 0;
		text-decoration: none;
		text-transform: uppercase;
		
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
	
	li {
		display: block;
	}
}