body > nav {
	
	background-color: rgba(15, 40, 48, 0.1);
	text-align: center;
	
	a {
		color: #fff;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
	
	li {
		display: inline-block;
	}
}