/* - Obstacles section specifics ----------------------- */
#obstacles {
	background: #fe6638 url(../images/texture-orange.png) repeat 90%;
	color: #fff;
	@include komikaPaint(0.9em);
	text-align: center;
	
	h1 {
		left: 6.8em;
		text-indent: -6.7em;
	}
	
	li {
		background: transparent url(../images/green-on-orange-splat.png) no-repeat center top;
		margin-bottom: 2em;
		padding-top: 4.2em;
	}
	
	h3 {
		font-size: 2.2em;
		line-height: 1.4em;
		@include rotate(-5deg);
	}
	
	p {
		font-size: 1.3em;
		line-height: 1.2em;
		margin: 0.3em 0 1.5em 0;
		@include rotate(-5deg);
	}
	
	h3, p {
		@include text-shadow(rgba(0, 0, 0, 0.15), 3px, 4px, 0);
	}
	
	img {
		display: block;
		width: 100%;
	}
	
	nav {
		display: none;
	}
	
	@media screen and (min-width: 32em) {
		
		p {
			margin-bottom: 2.4em;
		}
		
		ul, nav {
			width: 47.9166667%;
		}
		
		ul {
			float: right;
		}
		
		nav ul {
			float: none;
			width: 90%;
		}
		
		li {
			display: none;
			padding-top: 3.4em;

			&:target {
				display: block;
			}
		}
		
		nav {
			display: block;
		}
	}
	
	@media screen and (min-width: 38em) {
		h3 {
			font-size: 3em;
		}
	}
	
	nav {
		margin: 1.8em 0 1.2em 0;
		overflow: hidden;
		
		li {
			background: #7eb036 url(../images/texture-green.png) repeat 90%;
			@include border-radius(6px);
			display: block;
			margin: 0.45em 0;
			padding-top: 0;
			
			&:hover {
				background: #7eb036 url(../images/texture-yellow.png) repeat 90%;
			}
		}
	}
	
	a {
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center 1em;
		@include background-size(40%);
		@include border-radius(6px);
		color: #fff;
		display: block;
		max-width: 100%;
		overflow: hidden;
		padding: 50% 0 0.9em 0;
		text-align: center;
		text-decoration: none;
		text-overflow: ellipsis;
		@include transition-property(background-size background-position);
		@include transition-duration(0.08s);
		@include transition-timing-function(ease);
		white-space: nowrap;
		
		&:hover {
			color: #f46034;
			background-position: center 0.5em;
			@include background-size(43%);
		}
	}
	
	a[href*="tank"] {
		background-image: url(../images/obstacle-the-tank.png);
	}
	
	a[href*="sundae"] {
		background-image: url(../images/obstacle-sundae-slide.png);
	}
	
	a[href*="hamster"] {
		background-image: url(../images/obstacle-human-hamster-wheel.png);
	}
	
	a[href*="hatch"] {
		background-image: url(../images/obstacle-down-the-hatch.png);
	}
	
	a[href*="pick"] {
		background-image: url(../images/obstacle-pick-it.png);
	}
	
	a[href*="wringer"] {
		background-image: url(../images/obstacle-the-wringer.png);
	}
}

