/* - Obstacles section specifics ----------------------- */
#obstacles {
	background: #fe6638 url(../images/texture-orange.png) repeat 90%;
	color: #fff;
	text-align: center;
	
	ul {
		position: relative;
	}
	
	li {
		background: transparent url(../images/green-on-orange-splat.png) no-repeat center top;
		@include background-size(70%);
		margin: 2em auto;
		padding-top: 2.2em;
		width: 100%;
	}
	
	h3 {
		font-size: 1.5em;
		line-height: 1.4em;
		@include rotate(-5deg);
	}
	
	p {
		font-size: 0.9em;
		line-height: 1.2em;
		margin: 0.3em 0 1em 0;
		@include rotate(-5deg);
	}
	
	h3, p {
		@include text-shadow(rgba(0, 0, 0, 0.15), 3px, 4px, 0);
	}
	
	img {
		display: block;
		margin: 0 auto;
		width: 75%;
	}
	
	#human-hamster-wheel img {
		margin-top: -1em;
	}
	
	nav {
		display: none;
		margin: 1.8em 0 1.2em 0;
		overflow: hidden;
		
		li {
			background: #7eb036 url(../images/texture-green.png) repeat 90%;
			@include border-radius(6px);
			display: block;
			margin: 0.6em 0;
			padding-top: 0;
			
			&:hover, &.active {
				background: #edf23f url(../images/texture-yellow.png) repeat 90%;
			}
		}
	}
	
	nav li.active a {
		background-position: center 0.4em;
		@include background-size(83%);
		color: #f46034;
		cursor: default;
	}
	
	a {
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center 0.8em;
		@include background-size(75%);
		@include border-radius(6px);
		color: #fff;
		display: block;
		overflow: hidden;
		padding: 90% 0.6em 0.9em 0.6em;
		text-align: center;
		text-decoration: none;
		text-overflow: ellipsis;
		@include transition-property(background-size background-position);
		@include transition-duration(0.06s);
		@include transition-timing-function(ease);
		white-space: nowrap;
		
		&:hover {
			background-position: center 0.4em;
			@include background-size(83%);
			color: #f46034;
		}
	}
	
	a[href*="tank"] {
		background-image: url(../images/obstacle-the-tank.png);
	}
	
	a[href*="sundae"] {
		background-image: url(../images/obstacle-sundae-slide.png);
	}
	
	a[href*="hamster"] {
		background-image: url(../images/obstacle-human-hamster-wheel.png);
	}
	
	a[href*="hatch"] {
		background-image: url(../images/obstacle-down-the-hatch.png);
	}
	
	a[href*="pick"] {
		background-image: url(../images/obstacle-pick-it.png);
	}
	
	a[href*="wringer"] {
		background-image: url(../images/obstacle-the-wringer.png);
	}
	
	@media screen and (min-width: 320px) {
		li {
			@include background-size(auto);
			margin: 4em auto;
			padding-top: 3.2em;
		}

		h3 {
			font-size: 1.8em;
		}

		p {
			font-size: 1.2em;
			margin: 0.3em 0 1.5em 0;
		}
	}
	
	@media screen and (min-width: 448px) {
		h1 {
			left: 6.8em;
			text-indent: -6.7em;
		}
	}
	
	@media screen and (min-width: 512px) {
		
		li {
			background-position: 3% 5em;
			@include background-size(40%);
			display: none;
			margin: -2.5em 0 0 0;
			overflow: hidden;
			padding-top: 3.4em;
			position: absolute;
			width: 100%;

			&:target, &.manualDisplay {
				display: block;
			}
		}
		
		h3 {
			float: left;
			font-size: 1.8em;
			margin: 12% 0 0 2%;
			width: 45%;
		}
		
		p {
			clear: left;
			float: left;
			margin-left: 2%;
			width: 45%;
		}
		
		img {
			width: 52%;
		}
		
		#human-hamster-wheel img {
			margin-top: 0;
		}
		
		nav {
			display: block;
			margin-top: 65%;
			
			ul {
				float: none;
				width: 100%;
			}
			
			li {
				float: left;
				margin: 0 2.1276596% 0.6em 0;
				position: relative;
				width: 31.9148936%;
				
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
		
	@media screen and (min-width: 688px) {
		li {
			background-position: center top;
			@include background-size(auto);
			margin: 0 0 0 0;
			padding-top: 3.4em;
		}
		
		h3 {
			float: none;
			margin: 0;
			width: 100%;
		}
		
		p {
			float: none;
			margin-left: 0;
			width: 100%;
		}
		
		img {
			float: none;
			margin-top: 4em;
			width: 95%;
		}
		
		nav {
			margin-top: 1.8em;
		}
		
		ul, nav {
			width: 48.9361702%;
		}
		
		ul {
			float: right;
		}
		
		nav li {
			margin: 0.4em 0;
			width: 47.826087%;
		}
		
		nav li:nth-child(2n) {
			float: right;
		}
	}
	
	@media screen and (min-width: 864px) {
		h3 {
			font-size: 2.6em;
		}
	}
}