/* - Prizes section specifics -------------------------- */
#prizes {
	background-color: #7eb036;
	color: #fff;
	@include komikaPaint(0.9em);
	
	ul {
		margin-bottom: 1.6em;
	}
	
	li {
		line-height: 1.6em;
	}
}