/* - Prizes section specifics -------------------------- */
#prizes {
	background: #7eb036 url(../images/texture-green.png) repeat 90%;
	color: #fff;
	@include komikaPaint(1em);
	text-align: center;
	
	h1 {
		font-size: 2.18em;
	}
	
	ul {
		margin-bottom: 1.6em;
		overflow: hidden;
	}
	
	li {
		line-height: 1.6em;
		margin: 1em 0 2.4em 0;
	}
	
	img {
		display: block;
		margin-bottom: 0.8em;
		max-width: 100%;
		vertical-align: middle;
	}
}