/* - Prizes section specifics -------------------------- */
#prizes {
	background: #7eb036 url(../images/texture-green.png) repeat 90%;
	color: #fff;
	text-align: center;
	
	ul {
		margin: 0 auto;
		overflow: hidden;
		width: 90%;
	}
	
	li {
		line-height: 1.6em;
		margin: 1.5em 0 3.8em 0;
	}
	
	img {
		display: block;
		margin: 0 auto 0.4em auto;
		width: 85%;
	}
	
	@media screen and (min-width: 28em) {
		h1 {
			left: 4.5em;
			text-indent: -4.4em;
		}
	}
}