/* - Meyer Reset, pruned to fit this lil' page ------------------- */
html, body, div,
h1, h2, h3, p,
a, img, ul, li,
fieldset, form, label,
footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, nav, section {
	display: block;
}
ul {
	list-style: none;
}