/* - General page sections ----------------------------- */
section {
	
	border: 6px solid rgba(0, 0, 0, 0.1);
	border-left: 0;
	border-right: 0;
	
	& > div {
		margin: 0 auto;
		overflow: hidden;
		width: 95%;
	}
	
	h1 {
		background-color: transparent;
		@include background(linear-gradient(45deg, #eef13f 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #eef13f 75%), 
						linear-gradient(45deg, #eef13f 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #eef13f 75%));
		@include background-size(34px 34px);
		background-size: 34px 34px;
		background-position: 0 0, 18px 18px;
		color: #fff;
		@include komikaPaint(2.4em);
		left: 10.5em;
		letter-spacing: 0.05em;
		margin: 1.2em 0 1em 0;
		position: relative;
		text-align: left;
		text-indent: -10.4em;
		text-transform: uppercase;
		@include text-shadow(rgba(0, 0, 0, 0.15) 3px 4px 0);
	}
}