#be-a-contestant h2 {
	background: transparent url(../images/timer.png) no-repeat center top;
	@include background-size(83.9130435%);
	color: #fff;
	display: none;
	float: right;
	font-size: 2.2em;
	line-height: 1.3em;
	margin-right: 1.2553191%;
	margin-top: 1%;
	max-width: 460px;
	padding-top: 37%;
	position: relative;
	text-align: center;
	@include text-shadow(rgba(0, 0, 0, 0.2), 4px, 5px, 0);
	@include transition-property(font-size);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease);
	width: 48.9361702%;
	
	&:before {
		color: #f5eb00;
		content: "60";
		display: block;
		@include digitalDream(2.7em);
		left: 26%;
		position: absolute;
		@include text-shadow(#000, 5px, 8px, 0);
		top: 19%;
		width: 49%;
	}
	
	@media screen and (min-width: 42em) {
		display: block;
	}
	
	@media screen and (min-width: 48em) {
		&:before {
			font-size: 3em;
			top: 21%;
		}
	}
	
	@media screen and (min-width: 53em) {
		&:before {
			font-size: 3.5em;
		}
	}
	
	@media screen and (min-width: 61em) {
		font-size: 2.6em;
		padding-top: 8em;
		
		&:before {
			font-size: 3.2em;
		}
	}
}