/* - That crazy ole' timer ----------------------------- */

#be-a-contestant h2 {
	background: transparent url(../images/timer.png) no-repeat center top;
	@include background-size(83.9130435%);
	color: #fff;
	display: none;
	float: right;
	font-size: 2.2em;
	line-height: 1.3em;
	margin-right: 1.2553191%;
	margin-top: 1%;
	max-width: 460px;
	padding-top: 37%;
	position: relative;
	text-align: center;
	@include text-shadow(rgba(0, 0, 0, 0.2), 4px, 5px, 0);
	@include transition-property(font-size);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease);
	width: 48.9361702%;
		
	&:before {
		color: #f5eb00;
		content: "60";
		display: block;
		@include digitalDream(1em);
		left: 26%;
		position: absolute;
		@include text-shadow(#000, 5px, 8px, 0);
		top: 19%;
		width: 49%;
	}
	
	&.ten-second-warning {
		&:before {
			color: #ff8a00;
		}
	}
	
	&.out-of-time {
		-webkit-animation: timer-shake 0.1s infinite;
		background-image: url(../images/timer-out-of-time.png);
		
		&:before {
			color: #ff1800;
		}
	}
	
	@media screen and (min-width: 42em) {
		display: block;
		
		&:before {
			font-size: 6rem;
		}
	}
	
	@media screen and (min-width: 48em) {
		&:before {
			font-size: 7rem;
			top: 21%;
		}
	}
	
	@media screen and (min-width: 53em) {
		&:before {
			font-size: 8rem;
		}
	}
	
	@media screen and (min-width: 61em) {
		font-size: 2.6em;
		padding-top: 8em;
		
		&:before {
			font-size: 8.5rem;
		}
	}
}

@-webkit-keyframes timer-shake {
	0%, 25% {
		margin-right: -1%;
	}
	
	25.0001%, 50% {
		margin-right: 1%;
	}
	
	50.0001%, 75% {
		margin-right: -0.5%;
	}
	
	75.0001%, 100% {
		margin-right: 0.5%;
	}
}